h1{
    font-size: 50px;
    font-family: 'Times New Roman';
}
.name_highligt{
    color:rgb(36, 71, 79);
}
.side{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding: 2%;
}
img{
width: 70%;
height: 75%;
}
.bg-image{
    background-image: url(image/nomansLand.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.hireButton{
    text-decoration: none;
    background-color: gray;
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: bold;
}

.boxShadow{
    box-shadow: 10px 10px 40px whitesmoke;
    border-radius: 10px;
    height: 150px;
    background-color: rgb(133, 137, 141);
}

#newComer{
    border-left: 15px solid;
    border-image: linear-gradient(rgb(109, 107, 41), rgb(70, 81, 19));
    border-image-slice: 1;
    border-radius: 10px;
}

#babyDev{
    border-left: 15px solid;
    border-image: linear-gradient(rgb(109, 107, 41), rgb(70, 81, 19));
    border-image-slice: 1;
    border-radius: 10px;
}