h1{
    font-size: 50px;
    font-family: 'Times New Roman';
}
.name_highligt{
    color:rgb(36, 71, 79);
}
.side{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding: 2%;
}
img{
width: 70%;
height: 75%;
}
.bg-image{
    background-image: url(image/nomansLand.png);
    background-repeat: no-repeat;
}
section{
    height: 800px;
}

.hireButton{
    text-decoration: none;
    background-color: gray;
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: bold;
}